asgiref
astroid
blessed
botocore
cement
certifi
charset-normalizer
click
colorama
coverage
cssbeautifier
dill
Django
django-autoslug
django-ckeditor
django-cors-headers
django-js-asset
django-mathfilters
django-pytest
djlint
EditorConfig
exceptiongroup
greenlet
gunicorn
html-tag-names
html-void-elements
idna
iniconfig
isort
jmespath
jsbeautifier
json5
lazy-object-proxy
mccabe
packaging
pathspec
Pillow
platformdirs
playwright
pluggy
psycopg2-binary
pyee
pytest
pytest-base-url
pytest-django
pytest-playwright
python-dateutil
python-dotenv
python-slugify
PyYAML
regex
requests
ruff
semantic-version
six
sqlparse
stripe
termcolor
text-unidecode
tomli
tomlkit
tqdm
typing_extensions
urllib3
wcwidth
wrapt
