{% extends 'base.html' %} {% load static %} {% block meta %}
<meta
  name="description"
  content="Learn more about Holistic Hincher and their commitment to unpolluted, purifying, and wholesome home cleaning services. Discover the passion for green cleaning, top-quality cleaners, and eco-friendly products."
/>
{% endblock meta %} {% block title %} About Holistic Hincher 
{% endblock title %}
 {% block css_files %}
<link rel="stylesheet" href="{% static 'home.css' %}" />
<!-- You may need to include additional CSS files for styling specific to the "about" page. -->
{% endblock css_files %} {% block content %} 

{% include 'free_pages/includes/header.html' with page_title="About Holistic Hincher" %}
<div class="container-fluid bg-green">
  <div class="row justify-content-center mb-5">
    <div class="col-md-6 mb-3 rounded-3 bg-light p-4">
      <p>
        Jules's holistic approach is shaped by diverse experience and a profound
        understanding that where focus goes, energy flows.. With a journey that
        spans from New Zealand to South Africa and the UK, now settling in sunny
        Australia, Jules took the reins over from a long-standing cleaning
        business from E. Gibbs Manage my Place.
      </p>
      <p>
        Our mission is to bring the art of holistic solutions to your home and
        commercial, small business environments, or simply put “where passion
        and high vibing frequency converge to create transformative spaces”
      </p>

      <p>
        Our mission now is to bring the art of holistic solutions to your home
        and commercial environments.
      </p>
      <p>
        Inspired by the famous Mrs. Hinch, the Instagram sensation and British
        “cleanfluencer”, Holistic Hincher’s passion is in keeping things in
        tip-top condition, transforming all spaces which makes life easier.
      </p>

      <p>
        At Holistic Hincher, we go beyond surface-level aesthetics. We
        understand that a space has the power to nurture, inspire, and leave a
        lasting impression. Whether it's managing your home with care and
        attention to detail or transforming your small business and commercial
        space into welcoming havens, our focus is on crafting environments that
        radiate positive energy and promote well-being.
      </p>

      <p>
        Experience the transformative effects of our holistic approach as we
        merge the art of creating harmonious spaces with our unwavering support
        for small businesses. Let us help you elevate your space to new heights,
        where warmth, comfort, and success intertwine in perfect harmony.
      </p>
      <p>Discover the magic of Holistic Hincher today.</p>
    </div>
  </div>
</div>
{% endblock %}
