{% extends "base.html" %}
{% block meta %}
    <meta name="description"
          content="Congratulations! Your password has been successfully updated. Enjoy enhanced security and peace of mind on our platform. Continue exploring our services with confidence.">
{% endblock meta %}
{% block title %}
    Success
{% endblock title %}
{% block content %}
    {% include "free_pages/includes/header.html" with page_title='Success!' page_description='Your password has been changed.' %}
{% endblock content %}
